body{margin: 60px;
    background-size: contain;
    background-color: #fffbe4;
    font-family: 'MedievalSharp';
}
}
  .responsive {
    width: 25%;
    height: auto;
  }
  
  
  .gifContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 20%; /* 16:9 Aspect Ratio */
    /* padding-left: 20px;
    padding-right: 20px; */
  }
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }




h1{
    border: 5px outset #50453b;
    color:#3C403D
    ;
}
.myBox{
    background-color: #f8f3d3;
    padding: 5px;
    width: 250px;
    margin: 25px;

}

img.animated-gif{
    width: 60%;
    height: auto;
  }

.myImg {

    width: 100%;
    height: 100%;
    border-radius: 0;
    vertical-align:middle;
  }

.flexbox {
    display: flex;
    float: left;
    width: 25%;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .card{
      
      font-size: 1.5rem;
      text-align: center;
       padding: 10px;
       margin: 25px;
       background-color: #DADED4;
       transition: all 0.5s ease-in-out;
        box-shadow: 0 5px 5px 0 grey, 0 5px 5px 0 grey;
                color: #ff3300;   
  } 
  .container {
    position: relative;               
                                        
}

.featureText {
    position: absolute;  
    left: 50%;                        
    top: 50%;                         
    transform: translate(-50%, -50%); 
}
  
  .card:hover {
    transform: scale(1.10, 1.10);  }
